@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.background{
  background: url("./images/background.JPG");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.line{
 position: relative;
}

.line::before{
  content:"";
  position: absolute;
  top: 50%;
  left: 50px;
  width: 400px;
  height: 2px;
  background: #fff;
}

.line::after{
  content:"";
  position: absolute;
  top: 50%;
  right: 50px;
  width: 400px;
  height: 2px;
  background: #fff;
}

.gallery img{
  transition: all 0.5s ease-in-out;
}

.gallery img:hover{
  transform: scale(1.1);
  transition: all 0.5s ease-in-out;
}

.gallery:nth-child(2) img{
  width: 500px;
  height: 500px;
}

