@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.logo{
  background: url("./images/bobastar.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.background{
  background: url("./images/background.JPG");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.gallery img{
  transition: all 0.5s ease-in-out;
}

.gallery img:hover{
  transform: scale(1.1);
  transition: all 0.5s ease-in-out;
}

.gallery:nth-child(2) img{
  width: 500px;
  height: 500px;
}

